@font-face {
    font-family: 'TrajanProRegular';
    src: url('trajanpro-regular-webfont.eot');
    src: url('trajanpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('trajanpro-regular-webfont.woff') format('woff'),
         url('trajanpro-regular-webfont.ttf') format('truetype'),
         url('trajanpro-regular-webfont.svg#TrajanProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aquilineregular';
    src: url('aquiline-webfont.woff2') format('woff2'),
         url('aquiline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AquilineTwoRegular';
    src: url('aquilinetwo-webfont.eot');
    src: url('aquilinetwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('aquilinetwo-webfont.woff') format('woff'),
         url('aquilinetwo-webfont.ttf') format('truetype'),
         url('aquilinetwo-webfont.svg#AquilineTwoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	backgroun:#ffffff;
	background:#111111;
	width:100%;
	margin: 0px;
	padding: 0px;
	text-align:center;
	overflow-x:hidden;
	background-color: 1199ff;
}
h1{
	
	
	colo:#ffffff;
	color:#1199aa;
}
header{
	position:relative;
	top:30px;
	left:50%;	
}
#title1{
	position:absolute;
	font-size:4em;
	font-family: Fantasy; Copperplate;
	top: 120px;
	left:-250px;
	z-index:99;

}
#title2{
	position:absolute;
	font-size:2.5em;
	font-family:'aquilineregular', Arial, sans-serif;
	top: -132px;
	left:50px;
	z-index:99;
}
#title3{
	position:absolute;
	font-size:2.5em;
	font-family:'aquilineregular', Arial, sans-serif;
	top: -140px;
	left:90px;
	z-index:99;
}
/*  --------------------------------------------------------------------------------------------------*/
#gameLink{
	-webkit-transition: left .3s ease-in, opacity 1s linear; /* background-color 1s ease-out .3s; */
    -moz-transition: left .3s ease-in, opacity 1s linear;
    -o-transition:left .3s ease-in, opacity 1s linear;
    transition: left .3s ease-in, opacity 1s linear;
	transition:left .3s ease-in, opacity 1s linear;
	height:300px;
	width: 50%;
	top:800px;
	
	position:relative;
	
}
.test{

	left: 50px;
	opacity:1;
	
}
.hidden{
	left:1300px;
	opacity:0;

}
.containTop{
	width:100%;
	height:auto;
	background-color:#ffffff;
	float:left;
	padding-bottom: 1%;
	padding-top: 1%;
	overflow:hidden;
	text-align:center;
		
}
#rightFold{
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;	
}
#leftFold{
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.left_2{
	background-color:#ff5b4d;
	background-color: #1199ff;
	height:650px;
	float:left;
	
	margin-left:1%;
	width: 49%;
	z-index:0;
	
	}

.left{
	background-color:#ff5b4d;
	background-color: #1199ff;

	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
	height:650px;
	float:left;
	
	margin-left:1%;
	width: 49%;
	z-index:0;
	
}
.left:hover{
	background-color: #1F3761;
	
}
.right_2{
	background-color:#ff5b4d;
	background-color: #1199ff;
	margin-right:1%;
	float:left;
	
	height:650px;
	width:49%;
	z-index:0;
}
.right{
	background-color:#ff5b4d;
	background-color: #1199ff;
	
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
	margin-right:1%;
	float:left;
	
	height:650px;
	width:49%;
	z-index:0;
	
}
.right:hover{
	background-color: #1F3761;
}

.solidBG_1{
	position:absolute;
	background-color:#ff5b4d;
	background-color: #1199ff;
	height:850px;
	width:98%;
	margin-left:1%;	
	margin-top: 1%;
	margin-bottom: 1%;

	top:662px;
	
}
.solidBG_2{
	position:absolute;
	background-color:#ff5b4d;
	height:650px;
	width:98%;
	margin-left:1%;	
	margin-top: 1%;
	margin-bottom: 1%;

	top:1524px;
	
}

.formContain{

	position:absolute;
	background-color:#1c466d;
	border: 10px solid white;
	width:20%;
	height:auto;
	top: 10px;
	
}
/*.cover{
	background-color:#2D456C;
	opacity:.4;
}*/

.floatFix{
	clear:both;
	overflow:hidden;
}
.fauxBorder{
	-webkit-transform-style: preserve-3d;
	position:absolute;

    background-color: #ffffff;
    background-color: #ff5b4d;
    padding: 8px;  /*set padding to simulate border */	
	border-radius:50% 50% 50% 50%;
	height:520px;
	width:520px;	
	top:80px;
	left:50%;
	margin-left:-266px;
	overflow:hidden;
}
.centerCirc{
	-webkit-transform-style: preserve-3d;
	height:520px;
	width:520px;
	border-radius:50% 50% 50% 50%;
	
	background-color:#1F3761;
	overflow:hidden;
	z-index:2;

}
#animContain{
	-webkit-transform-style: preserve-3d;
	position: absolute;
	left: 2%;
	top: 2%;
}
#myCanvas{
	
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 1;
	
}
#layerB{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 6;
}
#layerA{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 6;
}

#layer1{
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 1;
}
#layer2{
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 2;
}
#layer3{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 3;
}
#layer4{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 4;
}
#layer5{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 5;
}
#layer6{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 6;
}
#layer7{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 6;
}
#layer8{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 6;
}
#layer9{
	position: absolute;
	color: rgb(224, 255, 254);
	left: 0; 
	top: 0; 
	z-index: 6;
}