

body {background-color: grey;
    
    font-family: sans-serif; 
 
}

h1 {font-size: 5em;
    background-color: red;
}

h3 {font-size: 2em;
    background-color: blue;
}
div {width: 1000;
    height:800;
    position: relative;
}

table {background-color: gray;
    background: center center;
    left: 20px;
    top:  20px;
    
}

td {width: 120px;
    height: 180px;
    border-style: solid;
    border-width: 1px;
}

.cardselected {border-style: solid;
    border-width: 5px;
    opacity: 0.5;
}

.spacer {border: none;}

.betstyle {font-size: 2em;}
.betupstyle {font-size: 2em;}
.betdownstyle {font-size: 2em;}

h3.creditstyle {background-color: green;
    font-size: 2em;
}

.playhandstyle {
    background-color: red;
    font-size: 5em;
}

h3.returnstyle {background-color: #207799;

}

.backgroundcolor1 {background-color: blue;}

.backgroundcolor2 {background-color: green;}

.backgroundcolororiginal {background-color: gray;}

.spades-2 {  
        background: url("2_of_spades_v2.png") no-repeat center center;
        opacity: 0.5;
         }

.hearts-2 {  
        background: url("2_of_hearts_v2.png") no-repeat center center;
        opacity: 0.5;
         }

.clubs-2 {  
        background: url("2_of_clubs_v2.png") no-repeat center center;
        opacity: 0.5;
         }

.diamonds-2 {  
        background: url("2_of_diamonds_v2.png") no-repeat center center;
        opacity: 0.5;
         }

.spades-3 {  
        background: url("3_of_spades_v2.png") no-repeat center center;
         }

.hearts-3 {  
        background: url("3_of_hearts_v2.png") no-repeat center center;
         }

.clubs-3 {  
        background: url("3_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-3 {  
        background: url("3_of_diamonds_v2.png") no-repeat center center;
         }

.spades-4 {  
        background: url("4_of_spades_v2.png") no-repeat center center;
         }

.hearts-4 {  
        background: url("4_of_hearts_v2.png") no-repeat center center;
         }

.clubs-4 {  
        background: url("4_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-4 {  
        background: url("4_of_diamonds_v2.png") no-repeat center center;
         }

.spades-5 {  
        background: url("5_of_spades_v2.png") no-repeat center center;
         }

.hearts-5 {  
        background: url("5_of_hearts_v2.png") no-repeat center center;
         }

.clubs-5 {  
        background: url("5_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-5 {  
        background: url("5_of_diamonds_v2.png") no-repeat center center;
         }

.spades-6 {  
        background: url("6_of_spades_v2.png") no-repeat center center;
         }

.hearts-6 {  
        background: url("6_of_hearts_v2.png") no-repeat center center;
         }

.clubs-6 {  
        background: url("6_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-6 {  
        background: url("6_of_diamonds_v2.png") no-repeat center center;
         }

.spades-7 {  
        background: url("7_of_spades_v2.png") no-repeat center center;
         }

.hearts-7 {  
        background: url("7_of_hearts_v2.png") no-repeat center center;
         }

.clubs-7 {  
        background: url("7_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-7 {  
        background: url("7_of_diamonds_v2.png") no-repeat center center;
         }

.spades-8 {  
        background: url("8_of_spades_v2.png") no-repeat center center;
         }

.hearts-8 {  
        background: url("8_of_hearts_v2.png") no-repeat center center;
         }

.clubs-8 {  
        background: url("8_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-8 {  
        background: url("8_of_diamonds_v2.png") no-repeat center center;
         }

.spades-9 {  
        background: url("9_of_spades_v2.png") no-repeat center center;
         }

.hearts-9 {  
        background: url("9_of_hearts_v2.png") no-repeat center center;
         }

.clubs-9 {  
        background: url("9_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-9 {  
        background: url("9_of_diamonds_v2.png") no-repeat center center;
         }

.spades-10 {  
        background: url("10_of_spades_v2.png") no-repeat center center;
         }

.hearts-10 {  
        background: url("10_of_hearts_v2.png") no-repeat center center;
         }

.clubs-10 {  
        background: url("10_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-10 {  
        background: url("10_of_diamonds_v2.png") no-repeat center center;
         }

.spades-J {  
        background: url("J_of_spades_v2.png") no-repeat center center;
         }

.hearts-J {  
        background: url("J_of_hearts_v2.png") no-repeat center center;
         }

.clubs-J {  
        background: url("J_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-J {  
        background: url("J_of_diamonds_v2.png") no-repeat center center;
         }

.spades-K {  
        background: url("K_of_spades_v2.png") no-repeat center center;
         }

.hearts-K {  
        background: url("K_of_hearts_v2.png") no-repeat center center;
         }

.clubs-K {  
        background: url("K_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-K {  
        background: url("K_of_diamonds_v2.png") no-repeat center center;
         }

.spades-Q {  
        background: url("Q_of_spades_v2.png") no-repeat center center;
         }

.hearts-Q {  
        background: url("Q_of_hearts_v2.png") no-repeat center center;
         }

.clubs-Q {  
        background: url("Q_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-Q {  
        background: url("Q_of_diamonds_v2.png") no-repeat center center;
         }

.spades-A {  
        background: url("A_of_spades_v2.png") no-repeat center center;
         }

.hearts-A {  
        background: url("A_of_hearts_v2.png") no-repeat center center;
         }

.clubs-A {  
        background: url("A_of_clubs_v2.png") no-repeat center center;
         }

.diamonds-A {  
        background: url("A_of_diamonds_v2.png") no-repeat center center;
         }


