body {background-color: #1199aa}

h1 {font-family: sans-serif;
	font-size: large;
	color: #afbfdf;}

h2 {font-family: sans-serif;
font-size: 4em;
color: #AABBDD;}

table {height: 100px;
	width: 800px;
	background-color: gray;
}
